<div class="list card">

    <div class="item item-avatar">
        <h2> <i class="icon ion-wrench"></i> Em Breve</h2>
    </div>

    <div class="item item-body">

        <p>
            Esta função está em implantação.
        </p>
        <p>
            Você é desenvolvedor? Sabia que o código do NorthApp é aberto e o desenvolvimento feito por voluntários?
        </p>


    </div>
    <a class="item item-icon-left " ng-controller="BreveCtrl" ng-click="openGitHub()">
        <i class="icon ion-information-circled"></i> Saiba como contribuir
    </a>

</div>