<style>
    .subTituloTabela {
        color: #FCF8F1;
        display: block;
        background-color: #95A874;
        line-height: 15px;
        text-align: center;
    }
    
    .titTabela {
        font-weight: bold;
        background: #62832B;
        color: #FFFFFF;
        line-height: 15px;
        text-align: center;
    }
    
    .oddRow {
        background: #CFD4C1;
    }
    
    .evenRow {
        background: #EFF4E1;
    }
</style>
<ion-view view-title="Grid de Largada">
    <div>
        <ng-include src="tabstemplate" />
    </div>

    <ion-content class="scroll-bg" style="margin-top: 50px">
        <label class="item item-input item-select">
                <div class="input-label">
                    
                </div>
                <select>
                    <option>Graduados Pró</option>
                    <option>Graduados</option>
                    <option>Trekkers</option>
                    <option>Turismo</option>
                </select>
            </label>
        <div class="list card">
            

            <div class="row subTituloTabela">
                <div class="col col-top col-100">Grid</div>
            </div>
            <div class="row">
                <div class="col col-demo col-25 titTabela">Horário</div>
                <div class="col col-demo col-75 titTabela">Equipe</div>

            </div>

            <div class="row" ng-repeat="entry in grid" ng-class="{'evenRow':($index%2==0),'oddRow':($index%2==1)}">
                <div class="col col-demo col-25">{{entry.time | date:'shortTime'}}</div>
                <div class="col col-demo col-75">{{entry.team.name}}</div>
            </div>
        </div>
        <div class="list card">
            <div class="row subTituloTabela">
                <div class="col col-top col-100">Pré-Grid</div>
            </div>
            <div class="row">
                <div class="col col-demo col-25 titTabela">Posição</div>
                <div class="col col-demo col-75 titTabela">Equipe</div>

            </div>

            <div class="row" ng-repeat="entry in preGrid" ng-class="{'evenRow':($index%2==0),'oddRow':($index%2==1)}">
                <div class="col col-demo col-25">{{$index}}</div>
                <div class="col col-demo col-75">{{entry.team.name}}</div>
            </div>


        </div>

    </ion-content>
</ion-view>