<div class="tabs-top" >
	<div class="tabs">
		<a class="tab-item {{isTab('details')}}" ng-click="setTab('details')"> <i class="icon ion-home"></i>
			
		</a> <a class="tab-item {{isTab('grid')}}" ng-click="setTab('grid')"> <i class="icon ion-clock"></i>
			
		</a> <a class="tab-item {{isTab('location')}}" ng-click="setTab('location')"> <i class="icon ion-compass"></i>
			
		</a><a class="tab-item {{isTab('results')}}"  ng-click="setTab('results')"> <i class="icon ion-stats-bars"></i>
			
		</a>
        <a class="tab-item {{isTab('pictures')}}"  ng-click="setTab('pictures')"> <i class="icon ion-images"></i>
			
		</a>        
	</div>
</div>