<ion-view view-title="Etapa"> <ion-content>
<div class="list card">

  <div class="item item-avatar">
    <img src="{{etapa.img}}">
    <h2>{{etapa.title}}</h2>
    <p>{{etapa.date}}</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="{{etapa.imgFull}}">
    <p>
      {{etapa.descFull}}
    </p>
    <p>
      <a href="#" class="subdued">Resultados</a>
      <a href="#" class="subdued">Fotos</a>
      <a href="#" class="subdued">Como chegar</a>
    </p>
  </div>

</div>

</ion-content> </ion-view>
