<div class=" tabs-top" >
	<div class="tabs">
		<a class="tab-item {{isTab(null)}}" href="#/app/etapa/{{etapa.id}}"> <i class="icon ion-home"></i>
			Narração
		</a> <a class="tab-item {{isTab('grid')}}" href="#/app/etapa/{{etapa.id}}/grid"> <i class="icon ion-clock"></i>
			Grid/Pré-grid
		</a> <a class="tab-item {{isTab('location')}}" href="#/app/etapa/{{etapa.id}}/location"> <i class="icon ion-compass"></i>
			Localização
		</a><a class="tab-item {{isTab('results')}}" href="#/app/etapa/{{etapa.id}}/results"> <i class="icon ion-stats-bars"></i>
			Resultados
		</a>
        <a class="tab-item {{isTab('pictures')}}" href="#/app/etapa/{{etapa.id}}/pictures"> <i class="icon ion-images"></i>
			Fotos
		</a>        
	</div>
</div>