<ion-view view-title="Etapa">
    <div>
        <ng-include src="tabstemplate" />
    </div>
    <ion-side-menus enable-menu-with-back-views="true" />
    <ion-content class="scroll-bg">

        <div class="list card" style="margin-top: 50px">

            <div class="item item-avatar">
                <img src="{{etapa.img}}">
                <h2>{{etapa.title}}</h2>
                <p>{{etapa.date}}</p>
            </div>

            <div class="item item-body">
                GRID
            </div>

        </div>

    </ion-content>
</ion-view>