<ion-view view-title="Etapas">
    <ion-content class="scroll-bg">
        <div class="list card">

            <a class="item item-thumbnail-left" ng-repeat="etapa in etapas| orderBy:'data'" href="#/app/etapa/{{etapa.id}}"> <img src="{{etapa.imgSmall}}">
                <p class="etapaDate">{{etapa.data|date:'shortDate'}}</p>
                <span class="etapaTitle">{{etapa.titulo}}</span>
                <span class="etapaTitle">{{etapa.descricao}}</span>
                <p class="etapaLocation"><span ng-show="etapa.id_Local==null">Local a definir</span><span ng-hide="etapa.id_Local==null">{{etapa.location.name}}</span></p>
            </a>


        </div>

    </ion-content>
</ion-view>