<ion-view view-title="Etapas">
    <ion-content class="scroll-bg">
        <div class="list card">

            <a id="{{etapa.id}}" class="item item-thumbnail-left" ng-repeat="etapa in etapas| orderBy:'data'" href="#/app/etapa/{{etapa.id}}">
                <img ng-src="{{etapa.imgSmall}}" ng-if="etapa.imgSmall">
                <img src="img/random/etapaTemp.png" ng-if="!etapa.imgSmall">
                <p class="etapaDate">{{etapa.data|date:'shortDate'}}</p>
                <h2 class="etapaTitle">{{etapa.titulo}}</h2>
                <p class="etapaDescription">{{etapa.descricao}}</p>
                <p class="etapaLocation"><span ng-show="etapa.id_Local==null">Local a definir</span><span ng-hide="etapa.id_Local==null">{{etapa.location.nome}}</span></p>
            </a>


        </div>

    </ion-content>
</ion-view>