<ion-view view-title="Destaque">
    <ion-content class="scroll-bg">
        <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh(true)">
        </ion-refresher>
        <div class="list card ">
            <div ng-if="highlights==null">
                Carregando
            </div>
            <div ng-repeat="highlight in highlights | orderBy:'-id'" ng-cloak ng-click="executeAction(highlight)">
                <div class="item item-divider">{{highlight.titulo}}</div>
                <div class="item item-body">
                    <img class="item item-image" ng-src="{{highlight.imgUrl}}">
                    <p>{{highlight.descricao}}</p>
                </div>
                
            </div>

        </div>

    </ion-content>
</ion-view>