<ion-view view-title="Ranking">

    <ion-content class="scroll-bg">
        <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh(true)">
        </ion-refresher>
        <label class="item item-input item-select ">
            <div class="input-label ">


                <select class="form-control " ng-change="updatePrefCategoria(filterCat.id_Categoria,null)" ng-model="filterCat.id_Categoria"
                ng-options="cat.id as cat.nome for cat in categorias" ng-init="filterCat = getLastSelectedCat()">


                </select>
            </div>

        </label>


        <div class="list card">

            <div class="row titTabela">
                <div class="col col-top col-10 ">#</div>
                <div class="col col-top col-33">Pontos</div>
                <div class="col col-top col-50">Equipe</div>
            </div>
            <a class="item " ng-repeat="equipe in results|filter:filterCat| orderBy:['-pontos']" "  href="# ">
                <div class="row " ng-init="carregaCompetidores(equipe)">
                    <div class="col col-demo col-10 ">{{$index+1}}º</div>
                    <div class="col col-demo col-10 " style="text-align:center;">{{equipe.pontos}}</div>
                    <div class="col col-demo col-80 " style="font-size: 18px; font-weight: bold; color: #F5A81C; ">{{equipe.nome}}</div>
                </div>

                <img class="avatarImage "  ng-repeat="membro in equipe.membros" style="float:right;" ng-src="http://graph.facebook.com/{{membro.fbId}}/picture?width=128&height=128">

            </a>

        </div>

    </ion-content>
</ion-view>