<ion-view view-title="Ranking">
    <ion-content class="scroll-bg">
        <label class="item item-input item-select">
            <div class="input-label">
                Categoria
            </div>
            <select>
                <option>Graduados Pró</option>
                <option>Graduados</option>
                <option>Trekkers</option>
                <option>Turismo</option>
            </select>
        </label>

        <div class="row">
            <div class="col col-10">
                <button class="button button-stable icon-right ion-chevron-left" ng-click="previousEtapa()" style="min-width: 0px; "></button>
            </div>
            <div class="col col-80" style="font-size:23px;height: 100%;">
                {{getCurrentEtapaName()}}
            </div>
            <div class="col col-10">
                <button class="button button-stable icon-right ion-chevron-right" ng-click="nextEtapa()" style="min-width: 0px; height: 100%;"></button>
            </div>
        </div>
        <div class="list card">

            <div class="row">
                <div class="col col-top col-10">#</div>
                <div class="col col-top col-25">Equipe</div>
                <div class="col col-top">Total</div>
                <div class="col col-top">Pontos</div>
            </div>
            <a class="item " ng-repeat="equipe in results" href="#">
                <div class="row">
                    <div class="col col-demo col-10">{{equipe.total.position}}</div>
                    <div class="col col-demo col-25" style="    font-size: 18px; font-weight: bold; color: #F5A81C;">{{equipe.name}}</div>
                    <div class="col col-demo">{{equipe.total.points}}</div>
                    <div class="col col-demo">{{getCurrentEtapa(equipe).points}}</div>
                </div>

                <img class="avatarImage" style="float:right;" ng-repeat="pic in equipe.pics" ng-src="http://ionicframework.com/img/docs/{{pic}}">

            </a>

        </div>

    </ion-content>
</ion-view>