# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

www/css/ionic.app.css
www/css/ionic.app.min.css
node_modules/
platforms/
plugins/

hooks/
resources/android/
resources/ios/
www/lib
res/values/facebookconnect.xml
*.apk
build*.sh
