/* Empty. Add your own CSS if you like */

span {
	color: #5a3802;
}

h1 {
	font-weight: bold;
	color: #3E428C;
}
.etapaTitle {
	font-weight: bold;
	color: #fea203;
}

.etapaLocation{
	color: #7d5d43;
	font-weight: bold;
}

.rankingEquipePosicao{
	font-size: 24px;font-weight:bold;color: #3E428C;
}
.rankingEquipe{
font-size: 18px; color: #3E428C; 
}